Email Translation Workflow.json
{
  "name": "Email Translation Workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "5297f303-d293-4095-92bc-43ba7f200e81",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "pU3FO2TpsQCw0bcH",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "wecom",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0f319f0e-4a18-49bb-8f48-96fb835167f5"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b47b3652-87d9-45b4-932a-6d1f602e5040",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "feishu",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c2d4f800-99c7-457b-8c56-05034c4c88e7",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "dingtalk",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        -16
      ],
      "id": "62223bde-bfa5-4b87-867c-e5dba58c8794",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=YOUR_WECOM_KEY",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"msgtype\": \"text\",\n  \"text\": {\n    \"content\": \"📩 新邮件通知\\n发件人：{{ $('Email Trigger (IMAP)').item.json.from }}\\n主题：{{ $('Email Trigger (IMAP)').item.json.subject }}\\n正文：{{ $json.choices[0].message.content }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        -144
      ],
      "id": "d1c5e86c-c31c-43b6-8e7b-a5b4be9517ed",
      "name": "企微通知"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/bot/v2/hook/YOUR_FEISHU_TOKEN",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"msg_type\": \"text\",\n  \"content\": {\n    \"text\": \"📩 新邮件通知\\n发件人：{{ $('Email Trigger (IMAP)').item.json.from }}\\n主题：{{ $('Email Trigger (IMAP)').item.json.subject }}\\n正文：{{ $json.choices[0].message.content }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "4972261d-894b-4c98-8ed0-89e09439f4fe",
      "name": "飞书通知"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oapi.dingtalk.com/robot/send?access_token=YOUR_DINGTALK_TOKEN",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"msgtype\": \"text\",\n  \"text\": {\n    \"content\": \"📩 新邮件通知\\n发件人：{{ $('Email Trigger (IMAP)').item.json.from }}\\n主题：{{ $('Email Trigger (IMAP)').item.json.subject }}\\n正文：{{ $json.choices[0].message.content }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        144
      ],
      "id": "d5114378-2b26-4f22-b5dc-dc35b75e8151",
      "name": "钉钉通知"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dacef6cc-ae97-496b-a660-930302583779",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        320
      ],
      "id": "577c33ca-ca0c-4991-9f08-4da9d7b44d14",
      "name": "Webhook",
      "webhookId": "dacef6cc-ae97-496b-a660-930302583779"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"你是一个专业的翻译助手。请将用户提供的中文内容翻译成英文，保持原意和格式，只输出翻译结果。\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.body.message }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        320
      ],
      "id": "2f077d01-bbc1-424c-9ab4-c6d0afda779d",
      "name": "中文转英文",
      "credentials": {
        "httpHeaderAuth": {
          "id": "209phvJb2KEgSRlo",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "han.x.1014@gmail.com",
        "toEmail": "={{ $('Webhook').item.json.body.to }}",
        "subject": "={{ $('Webhook').item.json.body.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.choices[0].message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        416,
        320
      ],
      "id": "d3bcf4b6-14c8-4f28-857a-0ded7371673c",
      "name": "Send an Email",
      "webhookId": "7c9db1dd-eb6d-4d04-bcd6-ce4aa194fcfd",
      "credentials": {
        "smtp": {
          "id": "flEU3wR8DSDLcywc",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"你是一个专业的翻译助手。请将用户提供的英文邮件翻译成中文，包括主题和正文，保持原意和格式。请按以下格式输出：\\n主题：{翻译后的主题}\\n正文：{翻译后的正文}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"主题：{{ $json.subject }}\\n正文：{{ $json.textPlain }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "08a8ea9f-e8f2-4a29-ab2b-1ea456476e8b",
      "name": "英文转中文",
      "credentials": {
        "httpHeaderAuth": {
          "id": "209phvJb2KEgSRlo",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "英文转中文",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "企微通知",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "飞书通知",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "钉钉通知",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "企微通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "中文转英文",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "中文转英文": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "英文转中文": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0f3fc4f3-cc36-4f8f-8df8-10030e496455",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f14a930a8b450591dc00b5da0707fe7b70543d4bbdb796668c4d2de8863d3adc"
  },
  "id": "wnCv5VZYp1FJGaiC",
  "tags": []
}