workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "71669afc-02f4-446a-af8a-012514a1d6a4",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "pU3FO2TpsQCw0bcH",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "wecom",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0f319f0e-4a18-49bb-8f48-96fb835167f5"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b47b3652-87d9-45b4-932a-6d1f602e5040",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "feishu",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c2d4f800-99c7-457b-8c56-05034c4c88e7",
                    "leftValue": "={{ $json.channel }}",
                    "rightValue": "dingtalk",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        -16
      ],
      "id": "2912b612-b0db-4f9d-9e6b-852e5f019fd7",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=YOUR_WECOM_KEY",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"msgtype\": \"text\",\n  \"text\": {\n    \"content\": \"{{ $json.choices[0].message.content }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        -144
      ],
      "id": "1a74d320-f8e5-4878-9985-65dca1da905f",
      "name": "企微通知"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/bot/v2/hook/YOUR_FEISHU_TOKEN",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"msg_type\": \"text\",\n  \"content\": {\n    \"text\": \"{{ $json.choices[0].message.content }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "b0933c5b-2dc0-46e2-a127-2e98d2f6cf60",
      "name": "飞书通知"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oapi.dingtalk.com/robot/send?access_token=YOUR_DINGTALK_TOKEN",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"msgtype\": \"text\",\n  \"text\": {\n    \"content\": \"{{ $json.choices[0].message.content }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        144
      ],
      "id": "4c678fa5-bfcd-49f7-a9f2-14e59b120ff9",
      "name": "钉钉通知"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reply",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        320
      ],
      "id": "6e8ea7f7-1cf1-4870-9615-785a2f007398",
      "name": "Webhook",
      "webhookId": "2b9996a4-3341-4c8f-b11a-893640218de4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"你是一个专业的翻译助手。请将用户提供的中文内容翻译成英文，保持原意和格式，只输出翻译结果。\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.body.message }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        320
      ],
      "id": "e208990f-eb84-4cd4-accd-389b66a4d48a",
      "name": "中文转英文",
      "credentials": {
        "httpHeaderAuth": {
          "id": "209phvJb2KEgSRlo",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "han.x.1014@gmail.com",
        "toEmail": "={{ $('Webhook').item.json.body.to }}",
        "subject": "={{ $('Webhook').item.json.body.subject }}\n",
        "emailFormat": "text",
        "text": "={{ $json.choices[0].message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        416,
        320
      ],
      "id": "0268d509-2af1-4654-adc0-df471d25643c",
      "name": "Send an Email",
      "webhookId": "8aed3e64-a7cd-472b-ba1d-0908556a6414",
      "credentials": {
        "smtp": {
          "id": "flEU3wR8DSDLcywc",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"你是一个专业的翻译助手。请将用户提供的英文邮件翻译成中文，包括主题和正文，保持原意和格式。请按以下格式输出：\\n主题：{翻译后的主题}\\n正文：{翻译后的正文}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"主题：{{ $json.subject }}\\n正文：{{ $json.textPlain }}\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "67e859b5-a9d8-4a22-9552-f84287fbae47",
      "name": "英文转中文",
      "credentials": {
        "httpHeaderAuth": {
          "id": "209phvJb2KEgSRlo",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "英文转中文",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "企微通知",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "飞书通知",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "钉钉通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "中文转英文",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "中文转英文": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "英文转中文": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1e434828-ee11-4461-8e1d-091ff4ae6f7f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f14a930a8b450591dc00b5da0707fe7b70543d4bbdb796668c4d2de8863d3adc"
  },
  "id": "9OLW1Q71XtGNwKqT",
  "tags": []
}